<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Cafe Nomad</title>

    <meta
      name="description"
      content="Descubre nuestra tienda online de suscripciones de café. Ofrecemos los mejores granos de café de 
            regiones como América Latina, África y Asia, entregados directamente a tu puerta. Elige tu suscripción y disfruta de una experiencia
            de café premium."
    />

    <meta
      name="keywords"
      content="suscripción de café, café de especialidad, café de América Latina, café de África, café de Asia, suscripciones de café, 
            café premium, tienda de café online, café en grano, café molido, entrega de café a domicilio"
    />

    <meta name="author" content="Estiven Mauricio Calvo Garzón" />

    <meta name="robots" content="index, follow" />

    <meta name="locality" content="spain, europa" />

    <meta name="revisit-after" content="7 days" />

    <meta name="category" content="Cafe de diferentes partes del mundo" />

    <link rel="icon" href="../imagenes/CafeNomad.png" type="image/png" />

    <link rel="stylesheet" href="../css/styls.css" />
  </head>
  <body>
    <header>
      <a href="../index.html" title="Volver al Inicio">
        <img
          class="img1"
          src="../imagenes/CafeNomad.png"
          alt="Cafe Nomad"
          width="500"
          height="500"
        />
      </a>
      <h1>Cafe Nomad</h1>
    </header>
    <nav>
      <a href="../index.html">Inicio</a>
      <a href="./productos.html">Cafe por region</a>
      <a href="./presupuesto.html">Suscripciones</a>
      <a href="./pagina_contacto.html">Contacto</a>
    </nav>

    <main>
      <div class="container-legalidad">
        <p class="formato-texto">
          AVISO LEGAL Última actualización: 2 de mayo de 2025 En cumplimiento
          con lo establecido en la Ley 34/2002, de 11 de julio, de servicios de
          la sociedad de la información y de comercio electrónico (LSSI-CE), se
          informa a los usuarios de este sitio web de los siguientes datos: 1.
          DATOS IDENTIFICATIVOS DEL TITULAR Titular del sitio web: Café Nomad
          CIF: B87654321 Domicilio social: Calle Ciudad de Alberique, Sevilla,
          Andalucía, España Correo electrónico de contacto: cafenomad6@gmail.com
          Nombre del dominio: www.cafenomad.es (u otro que uses) 2. OBJETO El
          presente aviso legal regula las condiciones de uso del sitio web
          www.cafenomad.es, cuya finalidad es la comercialización de café
          mediante un sistema de suscripción online, así como la difusión de
          contenido informativo relacionado con el café y el estilo de vida
          vinculado a su consumo. El acceso a este sitio web atribuye la
          condición de usuario, e implica la aceptación plena y sin reservas de
          todas las disposiciones incluidas en este Aviso Legal en el momento en
          que se accede al mismo. 3. CONDICIONES DE USO El usuario se compromete
          a hacer un uso adecuado de los contenidos y servicios que Café Nomad
          ofrece a través de su sitio web y a no emplearlos para: Incurrir en
          actividades ilícitas, ilegales o contrarias a la buena fe y al orden
          público. Provocar daños en los sistemas físicos y lógicos del sitio,
          de sus proveedores o de terceros. Introducir o difundir virus
          informáticos u otros sistemas que puedan provocar daños. Café Nomad se
          reserva el derecho a denegar o retirar el acceso al sitio sin
          necesidad de preaviso a aquellos usuarios que incumplan estas
          condiciones. 4. PROPIEDAD INTELECTUAL E INDUSTRIAL Todos los
          contenidos del sitio web (textos, imágenes, diseños, software, código
          fuente, logotipos, etc.) son propiedad de Café Nomad o de terceros
          autorizados, y están protegidos por la legislación vigente en materia
          de propiedad intelectual e industrial. Queda expresamente prohibida la
          reproducción, distribución, transformación o comunicación pública,
          total o parcial, de cualquier contenido sin la autorización previa y
          por escrito de Café Nomad. 5. ENLACES A TERCEROS Este sitio puede
          contener enlaces a sitios web de terceros. Café Nomad no asume ninguna
          responsabilidad sobre los contenidos, políticas o prácticas de estos
          sitios externos. 6. EXCLUSIÓN DE RESPONSABILIDAD Café Nomad no se
          responsabiliza por daños derivados del uso del sitio web o de la
          imposibilidad de acceder al mismo, ni por posibles errores u omisiones
          en los contenidos. Tampoco garantiza la ausencia de virus u otros
          elementos que puedan causar daños en los sistemas del usuario. 7.
          LEGISLACIÓN APLICABLE Y JURISDICCIÓN La relación entre Café Nomad y el
          usuario se regirá por la normativa vigente en España. Para la
          resolución de cualquier conflicto que pueda surgir, ambas partes se
          someten expresamente a los juzgados y tribunales de Sevilla, salvo que
          la normativa en materia de consumidores establezca otra jurisdicción.
        </p>
      </div>
    </main>

    <footer>
      <div>
        <div>
          <h2>Ayuda:</h2>
          <a class="enlacefoot" href="../views/presupuesto.html"
            >Ateción personalizada</a
          >
          <a class="enlacefoot" href="../views/pagina_contacto.html"
            >Ubicación de la empresa:</a
          >
          <p>Calle Ciudad De Alberique 15</p>
        </div>
      </div>
      <div>
        <div>
          <h2>Informacion:</h2>
          <a class="enlacefoot" href="../views/terminosycondiciones.html"
            >Términos y condiciones</a
          >
          <a class="enlacefoot" href="../views/Avisolegal.html">Aviso legal</a>
          <a class="enlacefoot" href="../views/politica-privacidadycookies.html"
            >Politica de privacidad y cookies</a
          >
          <a
            class="enlacefoot"
            href="../views/pagina_contacto.html#trabaja.nosotros"
            >Trabaja con nosotros</a
          >
        </div>
      </div>

      <div>
        <div>
          <h2>Suscribete a nuestra newsletter:</h2>
          <form
            id="newsletter"
            name="newsletter"
            action="#"
            method="get"
            target="_self"
          >
            <label for="news"></label>
            <input
              class="inpfoo"
              type="email"
              name="news"
              id="news"
              placeholder="Escriba su email"
              pattern="[a-zA-Z0-9_-.]+@[a-z0-9_-.]+/\.[a-z{2,4}]"
              required
            />
            <input
              class="imgfoo"
              type="image"
              src="../imagenes/enviar.png"
              alt="Enviar"
              width="512"
              height="512"
            />
          </form>
        </div>
        <div>
          <h2>Nuestras redes sociales:</h2>
          <div>
            <div class="imgfoo2">
              <a href="https://www.facebook.com/?locale=es_ES"
                ><img
                  class="imgfoo"
                  src="../imagenes/facebook.png"
                  alt="facebook"
                  title="facebook"
                  loading="lazy"
                  width="512"
                  height="512"
              /></a>
            </div>
            <div class="imgfoo2">
              <a href="https://www.instagram.com/"
                ><img
                  class="imgfoo"
                  src="../imagenes/instagram.png"
                  alt="instagram"
                  title="instagram"
                  loading="lazy"
                  width="512"
                  height="512"
              /></a>
            </div>
            <div class="imgfoo2">
              <a href="https://x.com/"
                ><img
                  class="imgfoo"
                  src="../imagenes/twitter.png"
                  alt="twitter"
                  title="twitter"
                  loading="lazy"
                  width="512"
                  height="512"
              /></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
