<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Cafe Nomad</title>

    <meta
      name="description"
      content="Descubre nuestra tienda online de suscripciones de café. Ofrecemos los mejores granos de café de 
            regiones como América Latina, África y Asia, entregados directamente a tu puerta. Elige tu suscripción y disfruta de una experiencia
            de café premium."
    />

    <meta
      name="keywords"
      content="suscripción de café, café de especialidad, café de América Latina, café de África, café de Asia, suscripciones de café, 
            café premium, tienda de café online, café en grano, café molido, entrega de café a domicilio"
    />

    <meta name="author" content="Estiven Mauricio Calvo Garzón" />

    <meta name="robots" content="index, follow" />

    <meta name="locality" content="spain, europa" />

    <meta name="revisit-after" content="7 days" />

    <meta name="category" content="Cafe de diferentes partes del mundo" />

    <link rel="icon" href="../imagenes/CafeNomad.png" type="image/png" />

    <link rel="stylesheet" href="../css/styls.css" />
  </head>
  <body>
    <header>
      <a href="../index.html" title="Volver al Inicio">
        <img
          class="img1"
          src="../imagenes/CafeNomad.png"
          alt="Cafe Nomad"
          width="500"
          height="500"
        />
      </a>
      <h1>Cafe Nomad</h1>
    </header>
    <nav>
      <a href="../index.html">Inicio</a>
      <a href="productos.html">Cafe por region</a>
      <a class="activo" href="presupuesto.html">Suscripciones</a>
      <a href="pagina_contacto.html">Contacto</a>
    </nav>

    <main class="main-presupuesto">
      <div class="container-presupuesto">
        <h2 class="presupuesto-titulo">
          Por favor, complete el formulario en nuestra página web para recibir
          una atención personalizada y conocer los presupuestos de nuestras
          diferentes suscripciones de café.
        </h2>

        <form id="myform" name="myform" method="get" target="_self">
          <div class="form-presupuestos">
            <div class="form">
              <label for="name">Nombre:</label>
              <input
                type="text"
                id="name"
                name="name"
                placeholder="Escriba su Nombre"
                pattern="[a-z A-Z]{3,20}"
                required
                title="Escriba solo letras entre 3 y 20 carácteres"
              />
            </div>

            <div class="form">
              <label for="surname">Apellido:</label>
              <input
                type="text"
                id="surname"
                name="surname"
                placeholder="Escriba su Apellido"
                pattern="[a-z A-Z]{3,20}"
                required
                title="Escriba solo letras entre 3 y 20 carácteres"
              />
            </div>

            <div class="form">
              <label for="email">Email:</label>
              <input
                type="email"
                id="email"
                name="email"
                placeholder="Escriba su email"
                pattern="[a-zA-Z0-9_.-]+@[a-zA-Z0-9_.-]+\.[a-z]{2,4}"
                required
              />
            </div>

            <div class="form">
              <label for="phone">Numero de telefono:</label>
              <input
                type="tel"
                id="phone"
                name="phone"
                placeholder="Escriba su Numero"
                pattern="(\d{3}[-.\s]?)?\d{3}[-.\s]?\d{3}"
                required
                title="Formato válido: 1234567890, 123-456-7890, (123) 456-7890"
              />
            </div>

            <div class="form">
              <label for="inf">Solicite mas información:</label>
              <textarea
                id="inf"
                name="inf"
                rows="4"
                placeholder="Solicite información"
                required
              ></textarea>
            </div>

            <div class="form">
              <label for="terminos">
                <input type="checkbox" id="terminos" name="terminos" required />
                Estoy deacuerdo con los
                <a href="../views/terminosycondiciones.html"
                  >Términos y Condiciones</a
                >
              </label>
              <button type="submit">Enviar</button>
            </div>
          </div>
        </form>
      </div>
    </main>

    <footer>
      <div>
        <div>
          <h2>Ayuda:</h2>
          <a class="enlacefoot" href="../views/presupuesto.html"
            >Ateción personalizada</a
          >
          <a class="enlacefoot" href="../views/pagina_contacto.html"
            >Ubicación de la empresa:</a
          >
          <p>Calle Ciudad De Alberique 15</p>
        </div>
      </div>
      <div>
        <div>
          <h2>Informacion:</h2>
          <a class="enlacefoot" href="../views/terminosycondiciones.html"
            >Términos y condiciones</a
          >
          <a class="enlacefoot" href="../views/Avisolegal.html">Aviso legal</a>
          <a class="enlacefoot" href="../views/politica-privacidadycookies.html"
            >Politica de privacidad y cookies</a
          >
          <a
            class="enlacefoot"
            href="../views/pagina_contacto.html#trabaja.nosotros"
            >Trabaja con nosotros</a
          >
        </div>
      </div>

      <div>
        <div>
          <h2>Suscribete a nuestra newsletter:</h2>
          <form
            id="newsletter"
            name="newsletter"
            action="#"
            method="get"
            target="_self"
          >
            <label for="news"></label>
            <input
              class="inpfoo"
              type="email"
              name="news"
              id="news"
              placeholder="Escriba su email"
              pattern="[a-zA-Z0-9_-.]+@[a-z0-9_-.]+/\.[a-z{2,4}]"
              required
            />
            <input
              class="imgfoo"
              type="image"
              src="../imagenes/enviar.png"
              alt="Enviar"
              width="512"
              height="512"
            />
          </form>
        </div>
        <div>
          <h2>Nuestras redes sociales:</h2>
          <div>
            <div class="imgfoo2">
              <a href="https://www.facebook.com/?locale=es_ES"
                ><img
                  class="imgfoo"
                  src="../imagenes/facebook.png"
                  alt="facebook"
                  title="facebook"
                  loading="lazy"
                  width="512"
                  height="512"
              /></a>
            </div>
            <div class="imgfoo2">
              <a href="https://www.instagram.com/"
                ><img
                  class="imgfoo"
                  src="../imagenes/instagram.png"
                  alt="instagram"
                  title="instagram"
                  loading="lazy"
                  width="512"
                  height="512"
              /></a>
            </div>
            <div class="imgfoo2">
              <a href="https://x.com/"
                ><img
                  class="imgfoo"
                  src="../imagenes/twitter.png"
                  alt="twitter"
                  title="twitter"
                  loading="lazy"
                  width="512"
                  height="512"
              /></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
