<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Cafe Nomad</title>

    <meta
      name="description"
      content="Descubre nuestra tienda online de suscripciones de café. Ofrecemos los mejores granos de café de 
            regiones como América Latina, África y Asia, entregados directamente a tu puerta. Elige tu suscripción y disfruta de una experiencia
            de café premium."
    />

    <meta
      name="keywords"
      content="suscripción de café, café de especialidad, café de América Latina, café de África, café de Asia, suscripciones de café, 
            café premium, tienda de café online, café en grano, café molido, entrega de café a domicilio"
    />

    <meta name="author" content="Estiven Mauricio Calvo Garzón" />

    <meta name="robots" content="index, follow" />

    <meta name="locality" content="spain, europa" />

    <meta name="revisit-after" content="7 days" />

    <meta name="category" content="Cafe de diferentes partes del mundo" />

    <link rel="icon" href="../imagenes/CafeNomad.png" type="image/png" />

    <link rel="stylesheet" href="../css/styls.css" />
  </head>
  <body>
    <header>
      <a href="../index.html" title="Volver al Inicio">
        <img
          class="img1"
          src="../imagenes/CafeNomad.png"
          alt="Cafe Nomad"
          width="500"
          height="500"
        />
      </a>
      <h1>Cafe Nomad</h1>
    </header>
    <nav>
      <a href="../index.html">Inicio</a>
      <a class="activo" href="productos.html">Cafe por region</a>
      <a href="presupuesto.html">Suscripciones</a>
      <a href="pagina_contacto.html">Contacto</a>
    </nav>

    <main>
      <section class="productos-galeria">
        <div class="productos">
          <div class="estilo-productos">
            <h4>Blue Mountain</h4>
          </div>
          <div class="estilo-productos">
            <img
              src="../imagenes/cafenomadbluemountain.jpeg"
              alt="Blue Montain"
              width="640"
              height="640"
            />
          </div>
          <div>
            <p>
              Originario de Jamaica, este café es suave y equilibrado, con baja
              acidez y un sabor dulce y delicado, considerado uno de los mejores
              cafés del mundo.
            </p>
          </div>
        </div>

        <div class="productos">
          <div class="estilo-productos">
            <h4>Geisha</h4>
          </div>
          <div class="estilo-productos">
            <img
              src="../imagenes/cafenomadgeisha.jpeg"
              alt="Geisha"
              width="640"
              height="640"
            />
          </div>
          <div>
            Cultivado tanto en Panamá como en Etiopía, es famoso por su perfil
            floral y afrutado, con notas a jazmín, bergamota y frutas
            tropicales.
          </div>
        </div>

        <div class="productos">
          <div class="estilo-productos">
            <h4>Yirgacheffe</h4>
          </div>
          <div class="estilo-productos">
            <img
              src="../imagenes/cafenomadYirgacheffe.jpeg"
              alt="Yirgacheffe"
              width="640"
              height="640"
            />
          </div>
          <div>
            <p>
              Proveniente de la región de Yirgacheffe en Etiopía, este café es
              muy aromático y brillante, con notas cítricas y florales.
            </p>
          </div>
        </div>

        <div class="productos">
          <div class="estilo-productos">
            <h4>Sumatra Mandheling</h4>
          </div>
          <div class="estilo-productos">
            <img
              src="../imagenes/CafeNomadSumatraMandheling.jpeg"
              alt=" Sumatra Mandheling"
              width="640"
              height="640"
            />
          </div>
          <div>
            <p>
              Producido en Sumatra, Indonesia, tiene un cuerpo pesado y sabor
              terroso, con notas de chocolate y especias.
            </p>
          </div>
        </div>

        <div class="productos">
          <div class="estilo-productos">
            <h4>Kona</h4>
          </div>
          <div class="estilo-productos">
            <img
              src="../imagenes/CafeNomadKona.jpeg"
              alt="Kona"
              width="640"
              height="640"
            />
          </div>
          <div>
            <p>
              Desde las plantaciones de Hawái, Estados Unidos, este café es
              suave y dulce, con una acidez brillante y un sabor a nuez y
              caramelo.
            </p>
          </div>
        </div>

        <div class="productos">
          <div class="estilo-productos">
            <h4>Antigua</h4>
          </div>
          <div class="estilo-productos">
            <img
              src="../imagenes/CafeNomadAntigua.jpeg"
              alt="Antigua"
              width="640"
              height="640"
            />
          </div>
          <div>
            <p>
              Proveniente de la región de Antigua en Guatemala, destaca por su
              cuerpo medio y sabor dulce, con notas de cacao y especias, gracias
              a sus tierras volcánicas.
            </p>
          </div>
        </div>

        <div class="productos">
          <div class="estilo-productos">
            <h4>Sidamo</h4>
          </div>
          <div class="estilo-productos">
            <img
              src="../imagenes/Sidamo.jpeg"
              alt="Sidamo"
              width="640"
              height="640"
            />
          </div>
          <div>
            <p>
              Cultivado en la región de Sidamo en Etiopía, este café afrutado
              tiene notas cítricas, acidez media y un cuerpo sedoso.
            </p>
          </div>
        </div>

        <div class="productos">
          <div class="estilo-productos">
            <h4>Sulawesi Toraja</h4>
          </div>
          <div class="estilo-productos">
            <img
              src="../imagenes/SulawesiToraja.jpeg"
              alt="Sulawesi teraja"
              width="640"
              height="640"
            />
          </div>
          <div>
            <p>
              Originario de la isla de Sulawesi en Indonesia, ofrece un café con
              cuerpo medio-alto y sabor especiado, con matices terrosos y notas
              a hierbas.
            </p>
          </div>
        </div>

        <div class="productos">
          <div class="estilo-productos">
            <h4>Tarrazu</h4>
          </div>
          <div class="estilo-productos">
            <img
              src="../imagenes/Tarrazu.jpeg"
              alt="Tarrazu"
              width="640"
              height="640"
            />
          </div>
          <div>
            <p>
              Desde la región montañosa de Tarrazu en Costa Rica, ofrece un café
              brillante y limpio, con acidez alta y notas dulces a frutas.
            </p>
          </div>
        </div>

        <div class="productos">
          <div class="estilo-productos">
            <h4>Huehuetenango</h4>
          </div>
          <div class="estilo-productos">
            <img
              src="../imagenes/Huehuetenango.jpeg"
              alt="Huehuetenango"
              width="640"
              height="640"
            />
          </div>
          <div>
            <p>
              Este café se cultiva en la región de Huehuetenango en Guatemala,
              ofreciendo un sabor dulce y floral, con buena acidez y notas de
              caramelo y frutas tropicales.
            </p>
          </div>
        </div>

        <div class="productos">
          <div class="estilo-productos">
            <h4>Kenya AA</h4>
          </div>
          <div class="estilo-productos">
            <img
              src="../imagenes/KenyaAA.jpeg"
              alt="Kenya AA"
              width="640"
              height="640"
            />
          </div>
          <div>
            <p>
              Proveniente de las altitudes de Kenia, es muy aromático y
              afrutado, con acidez vibrante y un cuerpo jugoso.
            </p>
          </div>
        </div>

        <div class="productos">
          <div class="estilo-productos">
            <h4>Harrar</h4>
          </div>
          <div class="estilo-productos">
            <img
              src="../imagenes/Harrar.jpeg"
              alt="Harrar"
              width="640"
              height="640"
            />
          </div>
          <div>
            <p>
              Desde la región de Harrar en Etiopía, este café tiene un sabor a
              bayas y vino, con notas a frutas secas y especias.
            </p>
          </div>
        </div>

        <div class="productos">
          <div class="estilo-productos">
            <h4>Maragogipe</h4>
          </div>
          <div class="estilo-productos">
            <img
              src="../imagenes/Maragogipe.jpeg"
              alt="Maragogipe"
              width="640"
              height="640"
            />
          </div>
          <div>
            <p>
              Cultivado en Brasil y Nicaragua, este café se caracteriza por su
              grano de gran tamaño, sabor suave y cremoso, con notas a nuez y
              chocolate.
            </p>
          </div>
        </div>

        <div class="productos">
          <div class="estilo-productos">
            <h4>Peaberry</h4>
          </div>
          <div class="estilo-productos">
            <img
              src="../imagenes/Peaberry.jpeg"
              alt="Peaberry"
              width="640"
              height="640"
            />
          </div>
          <div>
            <p>
              Originario de las laderas del Kilimanjaro en Tanzania, este grano
              redondo tiene un sabor más concentrado, acidez media-alta y notas
              cítricas.
            </p>
          </div>
        </div>

        <div class="productos">
          <div class="estilo-productos">
            <h4>Java</h4>
          </div>
          <div class="estilo-productos">
            <img
              src="../imagenes/Java.jpeg"
              alt="Java"
              width="640"
              height="640"
            />
          </div>
          <div>
            <p>
              Producido en la isla de Java en Indonesia, ofrece un café de
              cuerpo completo, con notas terrosas y un leve dulzor a cacao.
            </p>
          </div>
        </div>

        <div class="productos">
          <div class="estilo-productos">
            <h4>Nariño</h4>
          </div>
          <div class="estilo-productos">
            <img
              src="../imagenes/Nariño.jpeg"
              alt="Nariño"
              width="640"
              height="640"
            />
          </div>
          <div>
            <p>
              Cultivado en las montañas de Nariño, Colombia, este café es suave
              y aromático, con acidez brillante y notas cítricas.
            </p>
          </div>
        </div>

        <div class="productos">
          <div class="estilo-productos">
            <h4>Sidikalang</h4>
          </div>
          <div class="estilo-productos">
            <img
              src="../imagenes/Sidikalang.jpeg"
              alt="Sidikalang"
              width="640"
              height="640"
            />
          </div>
          <div>
            <p>
              Desde la región de Sidikalang en Sumatra, Indonesia, ofrece un
              café con cuerpo pesado y notas terrosas, con un leve toque a
              hierbas.
            </p>
          </div>
        </div>

        <div class="productos">
          <div class="estilo-productos">
            <h4>Huila</h4>
          </div>
          <div class="estilo-productos">
            <img
              src="../imagenes/Huila.jpeg"
              alt="Huila"
              width="640"
              height="640"
            />
          </div>
          <div>
            <p>
              Proveniente del departamento de Huila en Colombia, es un café
              balanceado con notas florales y dulces, excelente acidez y cuerpo
              medio.
            </p>
          </div>
        </div>

        <div class="productos">
          <div class="estilo-productos">
            <h4>Bugisu</h4>
          </div>
          <div class="estilo-productos">
            <img
              src="../imagenes/Bugisu.jpeg"
              alt="Bugisu"
              width="640"
              height="640"
            />
          </div>
          <div>
            <p>
              Desde las montañas de Bugisu en Uganda, este café ofrece un cuerpo
              medio-alto, con notas de chocolate y matices afrutados.
            </p>
          </div>
        </div>

        <div class="productos">
          <div class="estilo-productos">
            <h4>Pacamara</h4>
          </div>
          <div class="estilo-productos">
            <img
              src="../imagenes/Pacamara.jpeg"
              alt="Pacamara"
              width="640"
              height="640"
            />
          </div>
          <div>
            <p>
              Originario de El Salvador, este café exótico, con granos grandes,
              ofrece un cuerpo medio y notas a frutas tropicales y flores.
            </p>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <div>
        <div>
          <h2>Ayuda:</h2>
          <a class="enlacefoot" href="../views/presupuesto.html"
            >Ateción personalizada</a
          >
          <a class="enlacefoot" href="../views/pagina_contacto.html"
            >Ubicación de la empresa:</a
          >
          <p>Calle Ciudad De Alberique 15</p>
        </div>
      </div>
      <div>
        <div>
          <h2>Informacion:</h2>
          <a class="enlacefoot" href="../views/terminosycondiciones.html"
            >Términos y condiciones</a
          >
          <a class="enlacefoot" href="../views/Avisolegal.html">Aviso legal</a>
          <a class="enlacefoot" href="../views/politica-privacidadycookies.html"
            >Politica de privacidad y cookies</a
          >
          <a
            class="enlacefoot"
            href="../views/pagina_contacto.html#trabaja.nosotros"
            >Trabaja con nosotros</a
          >
        </div>
      </div>

      <div>
        <div>
          <h2>Suscribete a nuestra newsletter:</h2>
          <form
            id="newsletter"
            name="newsletter"
            action="#"
            method="get"
            target="_self"
          >
            <label for="news"></label>
            <input
              class="inpfoo"
              type="email"
              name="news"
              id="news"
              placeholder="Escriba su email"
              pattern="[a-zA-Z0-9_-.]+@[a-z0-9_-.]+/\.[a-z{2,4}]"
              required
            />
            <input
              class="imgfoo"
              type="image"
              src="../imagenes/enviar.png"
              alt="Enviar"
              width="512"
              height="512"
            />
          </form>
        </div>
        <div>
          <h2>Nuestras redes sociales:</h2>
          <div>
            <div class="imgfoo2">
              <a href="https://www.facebook.com/?locale=es_ES"
                ><img
                  class="imgfoo"
                  src="../imagenes/facebook.png"
                  alt="facebook"
                  title="facebook"
                  loading="lazy"
                  width="512"
                  height="512"
              /></a>
            </div>
            <div class="imgfoo2">
              <a href="https://www.instagram.com/"
                ><img
                  class="imgfoo"
                  src="../imagenes/instagram.png"
                  alt="instagram"
                  title="instagram"
                  loading="lazy"
                  width="512"
                  height="512"
              /></a>
            </div>
            <div class="imgfoo2">
              <a href="https://x.com/"
                ><img
                  class="imgfoo"
                  src="../imagenes/twitter.png"
                  alt="twitter"
                  title="twitter"
                  loading="lazy"
                  width="512"
                  height="512"
              /></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
